useDynLib(SFS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(stats, reshape, time)
import(SQUAREM)
import(ggplot2)
import(scales)
import(ggpubr)
export(NMFPois)
export(plotSFS)
export(samplesToSVD)
